<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="alert"><%= flash[:alert] %></p>
    <p id="notice"><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>
